 
@media all and (max-width: 1200px){
    .container { 
        padding: 0 18px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .header_log { 
        gap: 20px;
    }
    .header_search { 
        gap: 20px;
    }
    .product_discussion { 
        height: 165px;
    }
    .cart_box {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}
@media all and (max-width: 991px){
    .home_menu{
        display: none;
    }
    .header_log a img{
        width: 143px;
    }
    .category_item_single {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(100% / 2 - 16px);
                flex: 0 0 calc(100% / 2 - 16px);
    }
    .cateogry_item_flex { 
        -ms-flex-wrap: wrap; 
            flex-wrap: wrap;
    }
    .product_flex { 
        gap: 48px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .cart_box { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: column; 
                flex-direction: column;
    }
    .order_address_flex { 
        gap: 48px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .order_summery_flex { 
        gap: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
@media all and (max-width: 767px){
    .header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
    }
    .delivery_flex ul li img {
        width: 100px;
        height: 55px;
    }
    .error_page_area { 
        padding: 60px 0;
    }
    .delivery_area{
        margin: 48px 0;
    }
    
    .return_text {
        margin: 48px 0 48px 0;
    }
    .order_area {
        padding: 48px 0;
    }
    .error_page_title h2 { 
        font-size: 33px; 
    }
    .order_summery_area {
        margin-bottom: 45px;
    }
    .error_page_title { 
        margin-bottom: 48px;
    }
    .section_page_padding {
        padding: 48px 0;
    }
    .error_page_title p { 
        font-size: 16px; 
        margin-bottom: 22px;
    }
    .page_title {
        padding: 60px 0 20px 0;
    }
    .header_log {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%; 
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    } 
    .header_search {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%; 
        -webkit-box-pack: justify; 
            -ms-flex-pack: justify; 
                justify-content: space-between;
        width: 100%;
    }
    .banner_area {
        margin: 64px 0 48px 0;
    }
    .section_padding {
        padding: 48px 0 48px 0;
    }
    .section_title {
        margin-bottom: 48px;
    }
    .category_box { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: column; 
                flex-direction: column;
        gap: 32px;
    }
    .why_choose_box { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: reverse; 
            -ms-flex-direction: column-reverse; 
                flex-direction: column-reverse;
        gap: 48px;
    }
    .why_choose_right h2 {
        margin-bottom: 32px;
        text-align: center;
    }
    .why_choose_short_item {
        margin-bottom: 32px; 
        padding-left: 32px;
    }
    .reviews_box { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: column; 
                flex-direction: column;
        gap: 32px;
    }
    .footer a img {
        width: 143px; 
    }
    .footer_menu { 
        gap: 24px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer { 
        padding-bottom: 48px; 
    }
    .footer_area {
        padding: 48px 0; 
    }
}

@media all and (max-width: 576px){
    .category_item_single {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(100% / 1 - 12px);
                flex: 0 0 calc(100% / 1 - 12px);
    }
    .address_bar { 
        height: auto;
    }
    .addrress_mobil {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 83%;
                flex: 0 0 83%;
    }
    .delivery_flex ul li a img {
        width: 120px;
        height: 36px;
    }  
    .error_page_title h3 { 
        font-size: 24px; 
    }
    .single_product_del { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: column; 
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .procut_info_textt {
        text-align: center;
    }
    .product_name h3 { 
        font-size: 30px;  
    }
    .product_name h4 { 
        font-size: 24px; 
    }
    .page_title h2 { 
        font-size: 36px; 
    }
    .cart_shoping h3 {
        margin-bottom: 10px;
    }
    .cart_single {
        padding: 30px 15px;
    }
    .cart_info { 
        padding: 46px 40px; 
    }
    .cart_area {
        margin: 48px 0 60px 0;
    }
    .cart_single h4 { 
        font-size: 16px; 
    }
    .cart_single IMG {
        width: 60px;
    }
    .cart_imggg { 
        gap: 6px;
    }
    .cart_quant_val { 
        gap: 4px; 
    }
    .cart_quant_val p {
        width: 28px;
        height: 28px; 
    }
}

@media all and (max-width: 450px){ 
}