@media all and (max-width: 1200px){
    .container { 
        padding: 0 18px;
        box-sizing: border-box;
    }
    .header_log { 
        gap: 20px;
    }
    .header_search { 
        gap: 20px;
    }
    .product_discussion { 
        height: 165px;
    }
    .cart_box {
        flex-wrap: wrap;
    }
}
@media all and (max-width: 991px){
    .home_menu{
        display: none;
    }
    .header_log a img{
        width: 143px;
    }
    .category_item_single {
        flex: 0 0 calc(100% / 2 - 16px);
    }
    .cateogry_item_flex { 
        flex-wrap: wrap;
    }
    .product_flex { 
        gap: 48px;
        flex-direction: column;
    }
    .cart_box { 
        flex-direction: column;
    }
    .order_address_flex { 
        gap: 48px;
        flex-direction: column;
    }
    .order_summery_flex { 
        gap: 40px;
        flex-direction: column;
    }
}
@media all and (max-width: 767px){
    .header {
        flex-direction: column;
        gap: 20px;
    }
    .error_page_area { 
        padding: 60px 0;
    }
    .delivery_area{
        margin: 48px 0;
    }
    
    .return_text {
        margin: 48px 0 48px 0;
    }
    .order_area {
        padding: 48px 0;
    }
    .error_page_title h2 { 
        font-size: 33px; 
    }
    .order_summery_area {
        margin-bottom: 45px;
    }
    .error_page_title { 
        margin-bottom: 48px;
    }
    .section_page_padding {
        padding: 48px 0;
    }
    .error_page_title p { 
        font-size: 16px; 
        margin-bottom: 22px;
    }
    .page_title {
        padding: 60px 0 20px 0;
    }
    .header_log {
        flex: 0 0 100%; 
        width: 100%;
        justify-content: space-between;
    } 
    .header_search {
        flex: 0 0 100%; 
        justify-content: space-between;
        width: 100%;
    }
    .banner_area {
        margin: 64px 0 48px 0;
    }
    .section_padding {
        padding: 48px 0 48px 0;
    }
    .section_title {
        margin-bottom: 48px;
    }
    .category_box { 
        flex-direction: column;
        gap: 32px;
    }
    .why_choose_box { 
        flex-direction: column-reverse;
        gap: 48px;
    }
    .why_choose_right h2 {
        margin-bottom: 32px;
        text-align: center;
    }
    .why_choose_short_item {
        margin-bottom: 32px; 
        padding-left: 32px;
    }
    .reviews_box { 
        flex-direction: column;
        gap: 32px;
    }
    .footer a img {
        width: 143px; 
    }
    .footer_menu { 
        gap: 24px;
        flex-direction: column;
    }
    .footer { 
        padding-bottom: 48px; 
    }
    .footer_area {
        padding: 48px 0; 
    }
}

@media all and (max-width: 576px){
    .category_item_single {
        flex: 0 0 calc(100% / 1 - 12px);
    }
    .delivery_flex ul li a img {
        width: 120px;
        height: 36px;
    } 
    .single_product_del { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .procut_info_textt {
        text-align: center;
    }
    .product_name h3 { 
        font-size: 30px;  
    }
    .product_name h4 { 
        font-size: 24px; 
    }
    .page_title h2 { 
        font-size: 36px; 
    }
    .cart_shoping h3 {
        margin-bottom: 10px;
    }
    .cart_single { 
        padding: 30px 0; 
    }
    .cart_info { 
        padding: 46px 40px; 
    }
    .cart_area {
        margin: 48px 0 60px 0;
    }
    .cart_single h4 { 
        font-size: 16px; 
    }
    .cart_single IMG {
        width: 60px;
    }
    .cart_imggg { 
        gap: 6px;
    }
    .cart_quant_val { 
        gap: 4px; 
    }
    .cart_quant_val p {
        width: 28px;
        height: 28px; 
    }
}