 
   
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
   
   /*********************************/
  /***********1.GLOBAL CSS*********/
 /********************************/
 /* Default CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
}
body{
  font-family: 'Roboto', sans-serif;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
button{
  outline: none !important;
}
input
{
    outline:none !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
input, button, textarea, select{
  outline: none;
}
.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none !important;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #283562;
  overflow: hidden;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
img{
  width: 100%;
  height: auto;
}

.container{
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
}

h1{
  color: var(--Black, #000);  
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;  
}

h2{
  color: var(--Black, #000); 
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

h3{
  color: var(--Black, #000); 
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;  
}

h4{
  color: var(--Black, #000);  
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;  
}

h5{
  color: var(--Black, #000); 
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 
}

p{
  color: var(--Black, #000); 
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;  
}

.section_padding{
  padding: 80px 0 112px 0;
 }

 .btn_1 {
	border-radius: 8px;
	background: var(--Red, #E60000);
	padding: 12px 64px;
	display: inline-block;
	color: var(--main-white, #FFF);
	text-align: center; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
  transition: 0.3s;
}

.btn_1:hover{
  opacity: 0.83;
}

.section_title h2{
  margin-bottom: 24px;
  text-align: center;
}

.section_title p{ 
  text-align: center;
}

.section_title{ 
  margin-bottom: 80px;
}

   /*********************************/
  /*********** HEADER CSS**********/
 /********************************/

.header_log a img {
	width: 277px;
}

.menu ul li a {
	color: #FFF; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.header_area {
	background: #000;
	padding: 20px 0;
}

.header_input_search input {
	border-radius: 8px;
	background: #FFF;
	padding: 16px;
  border: none;
  width: 100%;
}

.header_input_search button {
	background: transparent;
	border: none;
	display: flex;
	position: absolute;
	top: 7px;
	right: 10px;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.header_cart img {
	width: 36px;
}

.home_menu{
  display: block;
}

.header_input_search {
	position: relative;
	width: 100%;
	max-width: 508px;
}

.header_input_search button img {
	width: 36px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between; 
}

.header_log {
	flex: 0 0 calc(50% - 68px);
}
  
.header_log {
	flex: 0 0 calc(50% - 68px);
	display: flex;
	align-items: center;
	gap: 68px;
}

.menu ul {
	display: flex;
	gap: 50px;
	align-items: center;
}

.header_search {
	flex: 0 0 calc(50% - 68px);
	display: flex;
	align-items: center;
	gap: 68px;
}

   /*********************************/
  /*********** HEADER CSS**********/
 /********************************/

 .banner_area{
  margin: 112px 0 80px 0;
 }

 .category_btn {
	text-align: right;
  margin-top: 24px;
}

.category_item {
	border: 1px solid #000;
	padding: 32px;
	flex: 0 0 calc(100% / 3 - 20px);
	border-radius: 10px;
	box-sizing: border-box;
}

.category_box {
	display: flex; 
  justify-content: space-between;
}

.category_item h3{
  margin-bottom: 16px;
}

   /*********************************/
  /********* WHY CHOOSE CSS*********/
 /********************************/

 .why_choose_box {
	display: flex;
	align-items: center;
  justify-content: space-between;
}

.why_choose_img {
	flex: 0 0 calc(100% / 2 - 40px);
}

.why_choose_right {
	flex: 0 0 calc(100% / 2 - 40px);
}

.why_choose_right h2{
  margin-bottom: 40px;
}

.why_choose_short_item {
	margin-bottom: 40px;
  position: relative;
  padding-left: 40px;
}

.why_choose_short_item:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #000;
}

.why_choose_short_item:last-child {
	margin-bottom: 0;
}

.why_choose_short_item h3{
  margin-bottom: 16px;
} 

   /*********************************/
  /*********** REVIEWS CSS**********/
 /********************************/

.reviews_user img {
	width: 56px;
}

.reviews_user {
	display: flex;
	gap: 20px;
	align-items: center;
}

.reviews_item {
	border-radius: 10px;
	border: 1px solid #000; 
	padding: 32px; 
	flex: 0 0 calc(100% / 3 - 20px); 
  box-sizing: border-box;
}

.reviews_box {
	display: flex; 
  justify-content: space-between;
}
 
.reviews_star {
	display: flex;
	gap: 4px;
}

.reviews_item > p {
	margin: 24px 0;
}

.reviews_star li img {
	width: 20px; 
}

   /*********************************/
  /*********** FOOTER CSS**********/
 /********************************/
 
 .footer_area{
  padding: 80px 0;
  background: #000;
 } 

 .footer a img {
	width: 311px;
  margin-bottom: 32px;
}

.footer_menu li a {
	color: var(--White, #FFF); 
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
}

.footer_menu {
	display: flex;
	justify-content: center;
	gap: 32px;
}

.footer {
	text-align: center;
	padding-bottom: 80px;
	border-bottom: 1px solid #FFF;
}

.footer_copy p {
	color: var(--White, #FFF); 
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin-top: 32px;
	text-align: center;
}


   /*********************************/
  /*********** CATEGORY CSS**********/
 /********************************/

 .page_title h2 {
	color: var(--Black, #000);
	text-align: center; 
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	padding-bottom: 24px;
	border-bottom: 1px solid #000;
}

.page_title{
  padding: 112px 0 80px 0;
}

.text-left h2{
  text-align: left;
}

.text-left p{
  text-align: left;
}

.section_page_padding{
  padding: 80px 0;
}

.cateogry_item_flex {
	display: flex;
  gap: 32px;
}

.category_item_single{
  flex: 0 0 calc(100% / 4 - 16px) ;
}

.category_product_title_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0;
}

.btn_2 {
	border-radius: 8px;
	background: var(--Red, #E60000);
	width: 100%;
	display: inline-block;
	padding: 12px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--main-white, #FFF);
	text-align: center; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	transition: 0.3s;
}

.btn_2:hover{
  opacity: 0.83;
}

   /*********************************/
  /*********** PRODUCT CSS**********/
 /********************************/

 .product_flex {
	display: flex;
	flex-wrap: wrap;
	gap: 80px;
}

.product_img{
  flex:  0 0 calc(100%  / 2 - 40px);
}

.product_info{
  flex:  0 0 calc(100%  / 2 - 40px);
}

.product_img_flex {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
  margin-top: 12px;
}

.product_img_flex img{
  flex:  0 0 calc(100%  / 2 - 8px);
  width: 100%;
}

.product_name h3 {
	color: var(--Black, #000); 
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
}

.product_name h4 {
	color: var(--Black, #000); 
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
}

.product_name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
}

.product_rating > p {
	margin: 24px 0;
}

.btn_3 {
	border-radius: 8px;
	background: transparent;
	width: 100%;
	display: inline-block;
	padding: 12px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--main-white, #000);
	text-align: center; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	transition: 0.3s;
  border: 1px solid #000; 
}

.btn_3:hover{
  opacity: 0.83;
}

.product_bttn a {
	margin-bottom: 16px;
}

.product_bttn p {
	text-align: center;
}

.single_product_del > img {
	width: 56px;
}

.single_product_del {
	display: flex;
	gap: 16px;
	align-items: center;
}

.product_deliverY_text {
	display: flex;
	justify-content: space-between;
}

.product_discussion p {
	margin-bottom: 16px;
}

.product_discussion {
	margin: 32px 0;
	padding: 16px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	height: 439px;
}

   /*********************************/
  /*********** CARD CSS**********/
 /********************************/


 .cart_area{
  margin: 80px 0 128px 0;
 }

 .cart_shoping h3 {
	margin-bottom: 40px;
}

.cart_single IMG {
	width: 90px;
}

.cart_single {
	display: flex;
	justify-content: space-between;
} 

.cart_single {
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
	align-items: center;
	padding: 60px 0;
	border-bottom: 1px solid #000;
} 
.cart_single:first-child{ 
	padding: 0 0 60px 0;
}

.cart_imggg {
	display: flex;
	align-items: center;
	gap: 15px;
}

.cart_quant_val {
	display: flex;
	gap: 15px;
	align-items: center;
}

.cart_quant_val a i {
	color: #000;
  font-size: 18px;
}

.cart_imggg h4 {
	color: var(--main-black, #000); 
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
}

.cart_quant_val p {
  width: 40px;
  height: 40px;
	border: 1px solid #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.cart_single h4 {
	color: var(--main-black, #000); 
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
}

.cart_single a i {
	color: #000;
  font-size: 18px;
}

.border_margin { 
	width: 100%;
	height: 1px;
	background: #000;
	margin: 44px 0;
}

.cart_box {
	display: flex;
	gap: 80px; 
}

.cart_shoping {
	flex: 0 0 calc(100% / 2 - 40px);
}

.cart_info {
	flex: 0 0 calc(100% / 2 - 40px);
	padding: 71px 64px;
	border-radius: 10px;
	border: 1px solid #000;
	box-sizing: border-box;
}

.cart_info h4 {
	color: #111; 
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	margin-bottom: 40px;
}

.cart_info ul li {
	display: flex;
	justify-content: space-between;
  margin-bottom: 5px;
}

.cart_info ul li:last-child { 
	margin-top: 16px;
}
.cart_info ul li:first-child {
	margin-bottom: 16px;
}


   /*********************************/
  /*********** ORDER CSS**********/
 /********************************/

 


   /*********************************/
  /*********** FOOTER CSS**********/
 /********************************/
